{% extends 'admin/change_form.html' %}

{% load i18n admin_urls %}
{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
<li>
    <a href="../send-test-mail" class="historylink">{% trans "Send test mail" %}</a>
</li>
<li>
    <a href="../preview-mail" class="historylink" target="_blank">{% trans "Preview mail" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}
